.home-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.home-toggle-score-dice {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 0 0 0 0;
}

.home-toggle-btn {
  width: 88px;
}

.hide {
  display: none;
}