.number-row-container {
  display: flex;
  flex-flow: column wrap;
  gap: 8px;
}

.number-row {
  display: flex;
  gap: 8px;
}

.box {
  border: 1px solid #ffffff;
  height: 38px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 60%;
  font-size: 24px;
  margin: 0;
  line-height: 16px;
}

.box-red {
  background-color: #ff3333;
}

.box-yellow {
  background-color: #ffff33;
  color: black;
}

.box-green {
  background-color: #33ff33;
  color: black;
}

.box-blue {
  background-color: #33adff;
}

.box-scored {
  opacity: 100%;
}

.box-disabled {
  background-color: grey; 
  opacity: 30%;
  /*  TODO: pick a better grey */
}

.box-lock {
  border-radius: 50%;
}